{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="text-center">Article n° #{{article.id}}: {{article.libelle}}</h1>

    <div class="card m-auto mt-5" style="width: 18rem;">
        <!--<img class="card-img-top" src="" alt="{{article.libelle}}">-->
        <div class="card-body">
            <h5 class="card-title">{{article.libelle}}</h5>
            <p class="card-text">{{article.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{article.price}}</li>
            <li class="list-group-item">{{article.marque}}</li>
            <li class="list-group-item">{{ article.categorie.nomCategorie ?? 'Pas de categorie' }}</li>
        </ul>
    </div>
</div>
{% endblock %}
